! Rendered for {{ hostname }} - GitOps Lab
hostname {{ hostname }}

{% if vlans is defined %}
{% for vlan in vlans %}
vlan {{ vlan.id }}
 name {{ vlan.name }}
{% endfor %}
{% endif %}

{% if interfaces is defined %}
{% for intf in interfaces %}
interface {{ intf.name }}
 description {{ intf.description }}
 {% if intf.enabled %}no shutdown{% else %}shutdown{% endif %}
 {% if intf.mode == 'trunk' %}
 switchport mode trunk
 {% elif intf.mode == 'access' %}
 switchport mode access
 {% if intf.access_vlan is defined %}switchport access vlan {{ intf.access_vlan }}{% endif %}
 {% endif %}
{% endfor %}
{% endif %}

{% if ntp_servers is defined %}
{% for ntp in ntp_servers %}
ntp server {{ ntp }}
{% endfor %}
{% endif %}

{% if syslog_servers is defined %}
{% for syslog in syslog_servers %}
logging host {{ syslog }}
{% endfor %}
{% endif %}
end
